*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
.gitignore
app/.gitignore
app/src/androidTest
app/src/test
app/release
67_Starr_Nova.NullsBrawlAssets
minecraft
/gradle